<h1>Listing rankings</h1>

<table cellpadding="10">
  <thead>
    <tr class="table-field">
      <th>User</th>
      <th>Liked</th>
      <th>Userliked</th>
      <th>Tagsliked</th>
    </tr>
  </thead>

  <tbody>
    <% @rankings.each do |ranking| %>
    ranking.each_with_index{
      |val,index| put index
    }
      <tr>
        <td><%= ranking.user.username %></td>
        <td><%= ranking.liked %></td>
        <td><%= ranking.userliked %></td>
        <td><%= ranking.tagsliked %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Ranking', new_ranking_path %> -->
