


<div class="sign-background"> 
  <div class="sign-up">
    <%= link_to 'sign up', new_user_path ,:class=>"sign-a"%>
  </div>
  <div  class="sign-in">
    <a href="#" class="sign-a">sign in</a>
  </div>
</div>


<img src="assets/top_image_2.png" class="top-image">

<!-- <table> -->
<!--   <thead> -->
<!--     <tr> -->
<!--       <th>Name</th> -->
<!--       <th>Password digest</th> -->
<!--       <th></th> -->
<!--       <th></th> -->
<!--       <th></th> -->
<!--     </tr> -->
<!--   </thead> -->

<!--   <tbody> -->
<!--     <% @users.each do |user| %> -->
<!--     <tr> -->
<!--       <td><%= user.name %></td> -->
<!--       <td><%= user.password_digest %></td> -->
<!--       <td><%= link_to 'Show', user %></td> -->
<!--       <td><%= link_to 'Edit', edit_user_path(user) %></td> -->
<!--       <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
<!--     </tr> -->
<!--     <% end %> -->
<!--   </tbody> -->
<!-- </table> -->


