<h1>Listing tags</h1>

<table border=1>
  <thead>
    <tr>
      <th>Name</th>
      <th>Like</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><% tag.id %></td>
        <td></td>
        <td><%= tag.name %></td>
        <td id="like<%= tag.id %>"><%= tag.like%> </td>
        <% photo_ids = Tagging.find_all_by_tag_id(tag.id).map{ |p| p.photo_id } %>
        <% photo_ids.each do |id| %>
          <% photo = Photo.find(id) %>  
          <td><%= image_tag photo.image.url(:thumb) %></td>  
        <% end %>
        <td>

        <input type="button" class="like" name="tags,<%= tag.id %>" value="いいね!"/></input>

        </td>

        <td><%= link_to 'Show', tag %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_tag_path %>

<script>
  $("input.like").click(function(){
  target = $(this).attr("name").split(",");
  uri = "/"+ target[0] + "/" +  target[1] + "/like";
  $.post(uri, function(json){
    $("#like"+target[1]).html(String(json.like))
  });
})

</script>
