<!-- <h1>Listing photos</h1> -->

<%= link_to image_tag("/assets/plus.png",:class=>"add-photo-button icon"),  new_photo_path() %>
<div class="photos-list">
  <ul>
    <% @photos.each do |photo| %>
    <li>
      <div class="thumnail" >
        <%= link_to image_tag(photo.image.url(:medium),:class=>"thumnail-img"), photo  %>
        <div class="thumnail-option">
          <%= photo.user.username %>
          <%= raw photo.tags.map { |t| link_to t.name, tag_path(t.id) }.join(', ') %>
          <div id="like<%= photo.id%>">
            <a><%= photo.like%> likes</a>
        </div>
<!--           <%if user_signed_in? %>
           <%= link_to 'Show', photo %>
          <% end %> -->
            <%if user_signed_in? %>
            <input type="image" class="icon like" name="photos,<%= photo.id %>" src="/assets/thumbs-up.png" >
            <% end %>
          <%if user_signed_in? && current_user.id == photo.user.id %>
            <%= link_to image_tag("/assets/compose.png",:class=>"icon"),  edit_photo_path(photo) %>
          <% end %>
          <%if user_signed_in? && current_user.id == photo.user.id %>
            <!-- <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %> -->
            <%= link_to image_tag("/assets/close.png",:class=>"icon"),  edit_photo_path(photo),method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
      </li>
    <% end %>
  </ul>
</div>

<script>
  $("input.like").click(function(){
  target = $(this).attr("name").split(",");
  uri = "/"+ target[0] + "/" +  target[1] + "/like";
  $.post(uri, function(json){
    $("#like"+target[1]).html(String(json.like) + " likes")
  });
})

</script>