<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @photo.image.url%>
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user.username %>
</p>

<p>
  <strong>Like:</strong>
  <p id="likenum" style=><%= @photo.like %></p>
  <input type="button" class="like" name="photos,<%= @photo.id %>" value="いいね!"/></input>
</p>



<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>


<script>
  $("input.like").click(function(){
  target = $(this).attr("name").split(",");
  uri = "/"+ target[0] + "/" +  target[1] + "/like";
  $.post(uri, function(json){
    $("p#likenum").html(String(json.like))
  });
})
</script>