<!DOCTYPE html>
<html>
  <head>
    <title>Doya</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <header>
        <ul>
          <li>
            <div class="header-button">
<!--               <div class="header-button-container">
                <img src="/assets/home.png" class="header-icon">
                <a class="header-menu">Home</a>
              </div> -->
            </div>
          </li>
        </ul>
      </header>
      <div class="main-body">
        <div id='user_nav'>
          <% if user_signed_in? %>
          Signed in as <%= current_user.username %>. <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <% else %>
          <%= link_to "Sign up", new_user_registration_path ,:id=>"signup" %>
          <%= link_to "Sign in", new_user_session_path ,:id=>"signin" %>
          <% end %>
        </div>
        <div>
          <%= yield %>
        </div>
      </div>
  </body>
</html>
